.container-about-me{
    text-align: center;
    margin: auto;
    padding: 4rem;
    margin-top: 3rem;
    /* border: 5px solid red; */
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(212,175,55) 0%, rgb(196, 195, 195) 100%);
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.3) !important;
    z-index: 5;
    color:white;
    font-size: 17px;
    font-weight: bold;
}

.container-me{
    padding-left:37px;
    padding-right:37px;

}