
body{
    background-color: #fff;
}

.container-account {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
    justify-content: center;
    margin: 7rem auto;
    width:55rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(51, 50, 50, 0.06);
    /* padding: 8rem 5rem; */
    border-radius: 5px;
} 
ul{
    list-style-type:none;
}
ul li{
    padding:0.5rem;
    margin:0.1rem
}

/* .form-container{
    background-image: linear-gradient(#c7b176, rgba(245, 245, 244, 0.698));
    height: 87vh;
} */

.btn-submit{
    margin-left: 18rem;
    color:#c6b689;
    padding:0.5rem;
    border:3px solid white;
    cursor: pointer;
}

/* .form-container-sign{
    background-image: linear-gradient(#c6b689, rgba(245, 245, 244, 0.698));
} */
.left-side{
    background-image: linear-gradient(#c6b689, rgba(245, 245, 244, 0.698));
    padding: 3rem;
}
h2{
    color:#c6b689;
    text-align: center;
}
.__input {
    display: block;
    font-family: inherit;
    margin:auto;
    color: inherit;
    border: none;
    width: 60%;
    background-color: rgb(15, 14, 14);
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.marg{
    padding:0.5rem;
    margin:1rem;
}

.__label{
    /* padding:0.5rem; */
    margin-left: 8rem;
}
/* .marg{
    margin:0.5rem;
}
.__input:focus {
    outline: none;
    border-bottom: 3px solid #55c57a;
}

.__input:focus:invalid {
    border-bottom: 3px solid #ff3030;
}

.__input::-webkit-input-placeholder {
    color: #bbb;
}

.form__group:not(:last-child) {
    margin-bottom: 2.5rem;
}

.__label {
    display: block;
    font-size: 1rem;
    /* font-weight: 700; */
    /* margin-bottom: 0.75rem; */
/* } */




