
body{
    background-color: #fff;
}

.container-update {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    align-items: center;
    justify-content: center;
    margin: 7rem auto;
    width:24rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    box-shadow: 0 2.5rem 8rem 2rem rgba(51, 50, 50, 0.06);
    /* padding: 8rem 5rem; */
    border-radius: 5px;
} 
ul{
    list-style-type:none;
}
ul li{
    padding:0.5rem;
    margin:0.1rem
}

.btn-submit{
    margin-left: 18rem;
    color:#c6b689;
    padding:0.5rem;
    border:3px solid white;
    cursor: pointer;
}

.left-side{
    background-image: linear-gradient(#c6b689, rgba(245, 245, 244, 0.698));
    padding: 3rem;
}
.right-side h2{
    color:#c6b689;
    text-align: center;
}
.update-input{
    display: block;
    font-family: inherit;
    margin:auto;
    color: inherit;
    border: none;
    width: 80%;
    background-color: rgb(15, 14, 14);
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
.marg{
    padding:0.5rem;
    margin:1rem;
}

.update-label{
    /* padding:0.5rem; */
    margin-left: 8rem;
}